@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.App {
  background-color: transparent;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;  background-image: url('./background.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  background-color: transparent;

  min-height: 1vh;
  font-size: calc(14px + 2vmin);
  font-family: 'Londrina Solid', cursive;
  color: white;
}

.App-link {
  color: yellow;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nft-table-container {
  width: 80%;
  margin: 0 auto;
  background-color: transparent;
}

.MuiTable-root {
  background-color: transparent;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1); 
}
.MuiPaper-root {
  background-color: transparent !important;
}

.MuiTableCell-root,
.MuiTableCell-body,
.MuiTableCell-head {
  background-color: rgba(40, 44, 52, 0.8); 
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    color: white !important; 
  font-family: 'Londrina' !important ;
  font-size: 20px !important;
  padding: 8px !important; 
}

.nft-image {
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.japanese-cell {
  font-family: 'Kaushan Script' !important;
}

.card {
  min-width: 275px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(40, 44, 52, 0.8);
  transition: 0.3s;
  background-color: rgba(130, 214, 65, 0.5) !important; 

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(202, 161, 161, 0.2);
}

.card-content {
  padding: 16px;
}
